﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Layout.css" rel="stylesheet" />
    @RenderSection("css", false)

    <title>NeuroCloud</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Layout/Layout.js"></script>

</head>
<body>
    <div class="row-fluid header">
        <div class="menuSuperior">
            <a href="#" class="brand"></a>
            <div id="menuOpcoes" class="menuVisivel hidden">
                <div class="row-fluid menuUsuario">
                    <i class="icon-user"></i> Plácido Bisneto
                </div>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Cadastros
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <ul>
                                    <li>Usuários</li>
                                    <li>Grupos</li>
                                    <li>Permissões</li>
                                    <li>Exames</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Collapsible Group Item #2
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="logoBarraSuperior">
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            @RenderBody()
        </div>

        <div class="row-fluid">
        </div>
    </div>



    @RenderSection("scripts", false)



</body>
</html>
